@import 'vars';
@import 'fonts';
@import 'reset';
//@import 'libs';
@import 'global';

@media (max-width: 768px) {
}

.header {
  background-color: #fff;
  padding: 17px 0;
  &__logo-img {
    margin: 0 auto;
  }
}

.feedback {
  padding-bottom: 26px;
}

.feedback__title {
  font-weight: 800;
  font-size: 45px;
  line-height: 38px;
  text-align: center;
  margin-bottom: 13px;
}

.feedback__decor {
  position: relative;
  margin-bottom: 19px;

  &::after {
    position: absolute;
    display: block;

    content: '';
    width: 17px;
    height: 18px;
    top: 25px;
    right: 0;
    background: url(../images/yellow-element.svg) no-repeat;
    z-index: 10;
  }
}

.feedback__decor-img {
  width: 118px;
  height: 59px;
}

.form__label {
  text-align: center;
  margin-bottom: 18px;
}

.form__label--courier {
  position: relative;
}

.form__label--courier::before {
  position: absolute;
  display: block;

  content: '';
  width: 16px;
  height: 16px;
  top: 15px;
  left: -8px;
  background: url(../images/orange-element.svg) no-repeat;
  z-index: 10;
}

.form__label--opinion {
  position: relative;
}

.form__label--opinion::after {
  position: absolute;
  display: block;

  content: '';
  width: 20px;
  height: 20px;
  top: 24px;
  right: -30px;
  background: url(../images/pink-element.svg) no-repeat;
  z-index: 10;
}

.form__fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-bottom: 22px;
}

/* RATING */
.form__rating {
  display: inline-flex;
  height: 50px;
}
.form__rating-item {
  display: none;
}

.form__rating-label {
  padding: 3px;
  cursor: pointer;
}

/* set default star color */
.form__rating-star {
  fill: $accent-yellow;
  transition: all 0.4s ease;
  path {
    fill: $accent-yellow;
    transition: all 0.4s ease;
  }
}

/* if any input is checked, make its following siblings lightgreen  */
.form__rating-item:checked ~ .form__rating-label .form__rating-star {
  fill: $light-green;
  path {
    fill: $light-green;
  }
}

/* make all stars yellow on rating group hover */

.form__rating:hover .form__rating-label .form__rating-star {
  fill: $accent-yellow;
  path {
    fill: $accent-yellow;
  }
}

/* make hovered input's following siblings lightgreen on hover */
.form__rating-item:hover ~ .form__rating-label .form__rating-star {
  fill: $light-green;

  path {
    fill: $light-green;
  }
}

/* CHECKBOXES CARDS */

.form__checkbox-wrapper {
  padding: 0;
}
.form__checkbox-wrapper:not(:last-child) {
  padding-right: 2px;
}

.form__checkbox-item {
  display: none;
}

.form__checkbox-label {
  position: relative;
  display: inline-block;
  min-height: 126px;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  border: 1px solid #ffffff;
  border-radius: 20px;

  cursor: pointer;
}

.form__checkbox-label--wear {
  text-align: left;
  padding: 76px 3px 15px 3px;
}
.form__checkbox-label--time {
  text-align: left;
  padding: 76px 6px 15px 4px;
}

.form__checkbox-label--polite {
  padding: 76px 10px 15px 8px;
}

.form__checkbox-label--wait {
  padding: 76px 5px 15px 5px;
}

.form__checkbox-label::before {
  position: absolute;
  display: block;
  content: '';

  z-index: 10;
}

.form__checkbox-label--wear::before {
  width: 59px;
  height: 54px;
  top: 13px;
  left: 3px;
  background: url(../images/jacket.svg) no-repeat;
}

.form__checkbox-label--time::before {
  width: 43px;
  height: 54px;
  top: 14px;
  left: 19px;
  background: url(../images/food.svg) no-repeat;
}

.form__checkbox-label--polite::before {
  width: 53px;
  height: 41px;
  top: 26px;
  left: 12px;
  background: url(../images/thumbsup.svg) no-repeat;
}

.form__checkbox-label--wait::before {
  width: 30px;
  height: 55px;
  top: 14px;
  left: 26px;
  background: url(../images/phone.svg) no-repeat;
}

.form__checkbox-item:hover + label,
.form__checkbox-item:checked + label {
  background-color: #fff;
  color: $dark-green;
}

/* TEXTAREA */
.form__textarea {
  width: 329px;
  color: $dark-green;
  background-color: $light-green;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  padding: 11px;
  padding-left: 63px;
  margin-bottom: 30px;
  border: none;
  border-radius: 25px;
  resize: none;
  outline: none;
  overflow: hidden;
  /*   background-image: url(../images/list.svg);
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: 12px center; */
}

.form__textarea::placeholder {
  color: $dark-green;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
}

.form__textarea-wrapper {
  position: relative;
}

/* MULTIPLE  FILES UPLOAD INPUT */

.form__file-input {
  display: none;
}

input[type='file'] {
  display: none;
  font-size: 12px;
  margin: 0 auto;
}
.form__files-area {
  padding: 0 12px;
  margin-bottom: 10px;
}
.form__file-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.form__file-listitem {
  margin: 0 8px 20px 8px;
}
.form__upload-btn {
  cursor: pointer;
  position: absolute;
  content: '';
  top: 11px;
  left: 16px;
  width: 50px;
  height: 42px;
  background-image: url(../images/list.svg);
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: 12px center;
}

.form__file-listitem--btn {
  margin: 0 8px 20px 8px;
  width: 89px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__upload-btn {
  cursor: pointer;
  position: absolute;
  content: '';
  top: 11px;
  left: 16px;
  width: 50px;
  height: 42px;
  background-image: url(../images/list.svg);
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: 12px center;
}

.form__file-preview {
  position: relative;
  border-radius: 20px;
  width: 89px;
  height: 134px;
  background-image: url(../images/photo-sample.png);
  background-size: cover;
}

.form__file-delete-btn {
  position: absolute;
  color: #fff;
  top: 6px;
  right: 6px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 10;
  display: block;
  padding: 2px;

  img {
    width: 15px;
    height: 15px;
  }
}

.form__file-preview--loading {
  &::after {
    content: '';
    position: absolute;
    background: rgba(89, 89, 89, 0.6);
    border-radius: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 5;
  }
}

.form__file-add-btn {
  width: 40px;
  height: 40px;
  background: #ffffff;
  border: 3px solid #595959;

  outline: none;
  cursor: pointer;
  border-radius: 50%;
}

/* TEXTAREA - ДЛИННАЯ ФОРМА */

.form__textarea--long {
  background-color: #fff;
}

.form__upload-btn-border {
  cursor: pointer;
  position: absolute;
  content: '';
  top: -1px;
  left: 19px;
  width: 55px;
  height: 55px;
  background-image: url(../images/list-border.svg);
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: 12px 13px;
}

/* CONTACTS */

.form__contacts {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 32px;
}

.form__telegram,
.form__vk {
  cursor: pointer;
}

.form__telegram-img,
.form__vk-img {
  width: 42px;
  height: 42px;
}

.form__tel,
.form__email {
  color: #fff;
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.form__tel:hover,
.form__email:hover {
  color: #0c5130;
  text-decoration: none;
}

.form__btn {
  width: 221px;
  color: #fff;
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
  background: radial-gradient(
    78.12% 78.12% at 50.23% 33.33%,
    #ffdc84 0%,
    #f3bf07 57.81%
  );
  border-radius: 50px;
  padding: 9px 20px 14px 20px;
  box-shadow: 0px 4px 4px #1c8051;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.4s ease;
}

.form__btn:hover {
  background: radial-gradient(
    78.12% 78.12% at 50.23% 33.33%,
    #ffc600 0%,
    #db9e00 77.08%
  );
}

/* ФОРМА Благодарности */

.thanks {
  padding-top: 20px;
}
.thanks__title {
  font-weight: 800;
  font-size: 30px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 30px;
}

.thanks__decor {
  position: relative;
  margin-bottom: 30px;

  &::after {
    position: absolute;
    display: block;

    content: '';
    width: 17px;
    height: 18px;
    top: 48px;
    right: -9px;
    background: url(../images/yellow-element.svg) no-repeat;
    z-index: 10;
  }
  &::before {
    position: absolute;
    display: block;

    content: '';
    width: 14px;
    height: 15px;
    top: 22px;
    left: 5px;
    background: url(../images/blue-element.svg) no-repeat;
    z-index: 10;
  }
}

.thanks__decor-img {
  width: 135px;
  height: 58px;
}

.thanks__info {
  position: relative;
  text-align: center;

  &::before {
    position: absolute;
    display: block;

    content: '';
    width: 16px;
    height: 16px;
    bottom: 36px;
    left: 0px;
    background: url(../images/orange-element.svg) no-repeat;
    z-index: 10;
  }
}

.thanks__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  margin-bottom: 8px;
}
.thanks__number {
  display: block;
  text-align: center;
  font-weight: 800;
  font-size: 30px;
  line-height: 32px;
  margin-bottom: 20px;
}
.thanks__link {
  display: inline-block;
  text-decoration: none;
  border-bottom: 2px solid #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;

  color: #fff;
  margin-bottom: 25px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.thanks__link:hover {
  color: #0c5130;
  text-decoration: none;
  border-bottom: 2px solid #0c5130;
}

/* REVIEW */

.thanks__big-title {
  font-weight: 800;
  font-size: 45px;
  line-height: 38px;
  text-align: center;
  margin-bottom: 15px;
}

.thanks__decor--review {
  position: relative;
  margin-bottom: 30px;
  &::before {
    top: -81px;
  }

  &::after {
    top: 11px;
  }
}

.thanks__decor-img--review {
  width: 146px;
  height: 58px;
}
.thanks__note {
  font-weight: 500;
  font-size: 30px;
  line-height: 26px;
  margin-bottom: 20px;
  text-align: center;
}

/* CONGRATS */

.thanks__decor--congrats {
  &::before {
    top: -81px;
  }

  &::after {
    top: -17px;
  }
}

.thanks__decor-img--congrats {
  width: 240px;
  height: 148px;
}

.thanks__note-wrapper {
  position: relative;
  &::before {
    position: absolute;
    display: block;

    content: '';
    width: 16px;
    height: 16px;
    bottom: 36px;
    left: 0px;
    background: url(../images/orange-element.svg) no-repeat;
    z-index: 10;
  }
}
